@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin save-btn($color, $padding) {
  background-color: $color;
  padding: $padding;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: lighten($color, 10%);
    //background-color: darken($color, 10%);
  }
}
