@import "../../styles/mixins";

.container {
  @include flex-between;
  background-color: yellowgreen; // 영역 색상 지정 일부러 해둠
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 101;
}

.leftBox {
  @include flex-center;
  margin-left: 22px;
  gap: 28px;

  .logo {
    width: 126px;
    height: 38px;
  }
}
.rightBox {
  @include flex-center;
  margin-right: 22px;
  gap: 28px;
}
