@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  @include flex-column;
  width: 740px;
  margin-top: 61px;
  gap: 18px;

  .title {
    margin-bottom: 8px;

    font-size: $font-size-header;
    font-weight: 600;
  }

  label {
    position: relative;
  }

  span {
    position: absolute;
    top: 22px;
    right: 20%;

    font-size: $font-size-header;
  }

  input {
   @include common-input;
  }
}
