@import '../../styles/mixins';

// 전역 설정
$component-border-radius : 8px;

.container {
  @include flex-start;
  width: 500px;
  height: 680px;
  border: 1px solid #D7D7D7;
  border-radius: $component-border-radius;
}
