@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  @include flex-column-center;
  margin-top: 50px;

  .bottomItem {
    @include flex-column;
    width: 740px;
    gap: 22px;
    margin-top: 185px;

    font-size: $font-size-base;
    font-weight: bold;

    & > *:last-child {
      color: #DC1414;
    }
  }
}